body {
    font-family: "Crimson Pro", serif;
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
    grid-template-columns: 1fr;
    /* grid-template-rows: auto 5% 1fr 4%; */
    gap: 1px;
    min-width: 700px;
  }
  
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: header;
  }
  
  nav {
    grid-area: nav;
  }
  
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    margin-right: 30px;
    background-color: #857ea5;
    color: black;
    padding: 1px 20px 2px 20px;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .active {
    background-color: #e07923;
  }

  .mi_borde {
    border: solid 1px black;
  }
  
  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
    text-align: center;
    margin-bottom: 10px;
  }