body {
    font-family: 'Crimson Pro', serif;
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 25% 10% 60% 15%; */
    grid-template-areas:  "header"
                          "nav"
                          "main"
                          "footer";
    /* gap: 1px; */
    min-width: 700px;
  }
  
  header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: header;
  }
  
  nav{
    grid-area: nav;
  }
  
  nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding:10px;
  }
  
  nav ul li a{
    text-decoration: none;
    margin-right: 30px;
    background-color: #857ea5;
    color: black;
    padding: 1px 20px 2px 20px;
    border-radius: 5px;
    font-size: 20px;
  }  
  
  .active{
    background-color: #e07923;
  }
  
  .mi_borde{
    border: solid 1px black;
  }
  
  main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  p {
    margin-top: 5px;
  }
  
  #cotizador {
    width: 300px;
    display: grid;
    grid-template-columns: 150px 150px;  
    gap: 2px;
    margin-bottom: 20px;
    /* justify-self: end; */
    
  }
  
  #labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  #inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  #description{
    display: block
  }
  
  input {
    width: 140px;
    margin: 5px;
  }

  
  
  legend {
    margin-bottom: 10px;
  }
  
  textarea{
    width: 300px;
  }
  
  button {
    margin: 15px 0px;
  }
  
  footer{
    grid-area: footer;
    text-align: center;
    margin-bottom: 10px;
  }